.ContainerTechnolgy {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: url(../../assets/technology/background-technology-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 18vh;
}
.Technolgy {
  width: 80%;
  margin: 0 auto;
  height: auto;
}
/*Titulo*/
.TechnolgyTittle {
  margin: 2rem 0;
  width: fit-content;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 0.1rem;
  display: flex;
}
.TechnolgySubtittle {
  font-weight: 700;
  margin: 0 1rem;
  color: #b4b4b4;
}
/*Description technology*/
.ContainerTechnolgyDes{
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    height: auto;
}
.TechnolgyDesContainer{
    height: auto;
    justify-content: center;
    width: 50%;
    display: flex;
    margin-top: 4rem;
}
.TechTittleDes{
    font-size: 3.5em;
    font-weight: 300;
    font-family: Bellefair, serif;
    color: #ffffff;
    margin: 0 0 1rem 0;
}
.TechDes{
    font-size: 1em;
    font-weight: 100;
    color: #ffffff;
    margin: 0 0 1rem 0;
    letter-spacing: 0.03em;
}
/*btns*/
.TechnologyBtn{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: transparent;
    border: solid 1px #ffffff;
    color: #ffffff;
    font-size: 1.5em;
    font-family: Bellefair, serif;
    margin: 0 1.5rem 0 0; 
}
.TechnologyBtnSelected{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: solid 1px #ffffff;
    font-size: 1.5em;
    font-family: Bellefair, serif;
    margin: 0 1.5rem 0 0; 
    background-color: #ffffff;
    color: #000000;
    scale: 1.1;
}
.TechnologyBtn:hover{
    transition: all 0.3s ease-in-out;
    background-color: #afafaf;
    color: #000000;
}
.TechnolgyBtnContainer{
    margin: 1rem 2rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.TechLeyenda{
    font-size: 1em;
    font-weight: 300;
    color: #ffffff;
    margin: 1rem 0;
}
/*Img technology*/
.TechImg{
    width: 23rem;
    height: auto;
    position: absolute;
    right: 0;
}

@media (max-width: 1000px) {
  .ContainerTechnolgy {
    background-image: url(../../assets/technology/background-technology-tablet.jpg);
  }
}
@media (max-width: 768px) {
  .ContainerTechnolgy {
    background-image: url(../../assets/technology/background-technology-mobile.jpg);
  }
}
